.fb-2 {
    flex-basis: 50%;
}

.fb-4 {
    flex-basis: 40%;
}

.fb-6 {
    flex-basis: 60%;
}

.center {
    text-align: center;
}

.no-scaled-link {
    /* fix the plots for nb-convert, they experience weird rescaling */
    width: 100% !important;
    height: auto !important;
}
